.container {
  width: 1440px;
  text-align: center;
  @media (max-width: 1200px) {
    padding: 0 20px;
    width: auto;
  }
  @media (min-width: 1200px) and (max-width: 1440px) {
    width: 1200px;
  }
}
